body

	.stars-wrapper#scene

		.layer(data-depth="0.00")

		.stars-cluster.stars-cluster-1.layer(data-depth="0.30")
			- for (var x = 1; x <=40; x++)
				.star(
					class="star-"+x
				)

		.stars-cluster.stars-cluster-2.layer(data-depth="0.50")
			- for (var x = 1; x <=40; x++)
				.star(
					class="star-"+x
				)

		.stars-cluster.stars-cluster-3.layer(data-depth="0.90")
			- for (var x = 1; x <=15; x++)
				.star(
					class="star-"+x
				)

		.moon-wrapper.layer(data-depth="0.30")
			.moon

		.title-wrapper.layer(
			data-depth="0.40"
		)
			h1.title(
				data-title="Fly me to the moon"
			) Fly me to the moon